/* Main Hero Section Layout */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

/* Left side (image or Lottie) */
.hero-left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;  /* Hide the overflow to prevent the image from spilling outside */
}

/* Image moves back and forth, and zooms */
.hero-image,
.hero-lottie {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomInAndMove 4s ease-in-out infinite; /* 4s for the animation duration */
}

/* Right side (text content) */
.hero-right {
  flex: 1;
  text-align: center;
  font-family: "Montserrat";
}

.hero-logo {
  width: 150px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto 10px auto;
}

.hero-right h2 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat";

}

.hero-right p {
  font-size: 18px;
  color: #1571E7;
  line-height: 1.6;
  font-family: "Montserrat";
}



/* ========== Responsive Layout ========== */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    height: auto;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    height: auto;
  }

  .hero-right {
    padding: 20px;
  }

  .hero-right h2 {
    font-size: 24px;
    font-family: "Montserrat";
  }

  .hero-right p {
    font-size: 16px;
    font-family: "Montserrat";
  }
}
