.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #fff;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.text-section {
  font-family: "Montserrat";
  flex: 1;
  max-width: 50%;
  padding: 40px;
  z-index: 2;
}

.text-section h2 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 10px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 15px;
}

.image-section {
  flex: 1;
  max-width: 50%;
  height: 100%;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

/* ========== Responsive Layout for Smaller Screens ========== */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: auto;
  }
  .text-section p{
    font-size: 1.5rem;
  }

  .text-section h2{
    font-size: 2rem;
  }
  .text-section {
    order: 2;
    max-width: 100%;
    padding: 20px;
    margin-top: 0;
  }

  .image-section {
    max-width: 100%;
    height: auto;
  }

  .image-section img {
    order: 1;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }
}
